html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #221d1d;
}

.image-wrapper {
  max-width: 100vmin;
  margin: 0 auto;
}

.image {
  margin: 10vh 0;
  width: 100%;
  object-fit: contain;
  display: block;
}